
sites=test1,test2
save_original_data=true
original_data_backend=database

a.url=https://test1.net/
a.directory=test1
a.original_data_table=test1

b.url=https://test2.net/
b.directory=test2
b.original_data_table=test2
